* {
  font-family: sans-serif; }

p {
  margin: 10vw;
  font-size: 25px; }

h1 {
  text-align: center;
  font-size: 45pt; }

h2 {
  text-align: center;
  font-size: 22pt; }

.error,
.db-info {
  font-size: 20pt; }

.db-info {
  text-align: center; }

.red {
  color: red; }

.green {
  color: green; }

.blue {
  color: blue; }

/*# sourceMappingURL=index.css.map */
